body {
    font-family: monospace;
    color: black;
    background-color: #FA940A;
    background-image: url('images/bgimage.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1 {
    display: inline;
    position: fixed;
    text-align: center;
    margin: 0;
    color: white;
  }

  h4 {
    display: inline;
    positon: fixed;
    text-align: center;
    margin: 0;
    color: white;
    margin-top: 600px;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    transition: box-shadow 0.3s ease;
    margin-top: 100px;
    position: fixed;
  }



  a:hover {
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .audio {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding-top: 500px;
    width: 150px;
  }
